/*===========================
    8.CATEGORY css 
===========================*/






.category-area{
    padding-bottom: 85px;
    padding-top: 100px;
    background-image: linear-gradient(to bottom, #e6f1ff, #ffffff);
}

.category-topbar{
    padding-bottom: 15px;
    @media #{$xs} {
        display: block !important;
    }
    @media #{$sm} {
        display: flex!important;
    }
    & .category-item{
        & > ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            & li{
                display: inline-block;
                margin-right: 30px;
                @media #{$xs} {
                    margin-right: 7px;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}
