/*===========================
    13.CHECKOUT css 
===========================*/



.checkout-area {
    padding-top: 70px;
    padding-bottom: 100px;
}


.checkout-box {
    padding: 72px 40px 20px;
    box-shadow: 0 20px 50px 20px rgba(85, 92, 121, 0.04);

    @media #{$xs} {
        padding: 72px 20px 20px;
    }

    & .checkout-product {
        & .item {
            padding-left: 115px;
            position: relative;

            @media #{$xs} {
                padding-left: 0;
            }

            @media #{$sm} {
                padding-left: 115px;
            }

            & img {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 15px 0 15px 15px;

                @media #{$xs} {
                    position: static;
                    transform: translateY(0);
                    margin-bottom: 20px;
                }

                @media #{$sm} {
                    position: absolute;
                    transform: translateY(-50%);
                    margin-bottom: 0;
                }
            }

            & .title {
                font-size: 20px;
                margin-bottom: 0;
            }

            & span {
                font-size: 16px;
            }
        }

        .product-price {
            & .title {
                margin: 0;
                font-size: 20px;

                @media #{$xs} {
                    margin-top: 40px;
                }
            }
            & a{
                text-decoration: underline;
                color: $theme-color;
            }
        }
    }

    .checkout-form {
        & .support-area {
            border-top: 1px solid rgba(85, 92, 121, 0.1);
            margin-top: 52px;
            padding-top: 55px;
            ;
        }
    }


}


.checkout-sidebar {}




.checkout-amount {
    padding: 30px;
    box-shadow: 0 20px 50px 20px rgba(85, 92, 121, 0.04);

    @media #{$xs} {
        padding: 30px 20px;
    }

    & .checkout-amount-list {
        & ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            & li {
                font-size: 18px;
                color: $black;

                & span {
                    color: $theme-color;
                    font-weight: 500;
                }
            }

            &.item-3 {
                border-top: 1px solid #e8e8e8;
                padding-top: 20px;
                margin-bottom: 0;
            }
        }
    }

    & .checkout-btn {
        & a {
            width: 100%;
            padding: 0;
            text-align: center;
            box-shadow: 0 15px 40px 0 rgba(60, 114, 255, 0.2);
        }
    }
}




.checkout-payment {
    padding: 30px;
    box-shadow: 0 20px 50px 20px rgba(85, 92, 121, 0.04);

    @media #{$xs} {
        padding: 30px 20px;
    }

    & .payment-title {
        & .title {
            font-size: 28px;

            @media #{$xs} {
                font-size: 20px;
            }

            @media #{$sm} {
                font-size: 28px;
            }
        }
    }

    & .input-box {
        & label {
            font-size: 16px;
            color: $black;
            padding-bottom: 12px;
        }

        & input {
            width: 100%;
            line-height: 60px;
            border-radius: 5px;
            border: 1px solid #e7e7e7;
            padding-left: 16px;
        }

        & button {
            width: 100%;
            text-align: center;
            margin-top: 30px;
            box-shadow: 0 15px 40px 0 rgba(60, 114, 255, 0.2);
        }
    }

}


.cart-coupon-item {
    & .input-box {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        margin-top: 50px;
        border-top: 1px solid #e8e8e8;
        @media #{$xs} {
            display: block;
        }
        @media #{$sm} {
            display: flex;
        }
        & input {
            line-height: 60px;
            border-radius: 5px;
            border: solid 1px #e3e3e3;
            padding-left: 16px;
            color: $black;
            width: 100%;
            margin-right: 20px;
            &::placeholder {
                opacity: 1;
                color: $black;
            }

        }
        & button{
            width: 170px;
            padding: 0;
            text-align: center;
        }

    }
    & .input-link{
        & a{
            width: 250px;
            padding: 0;
            text-align: center;
            box-shadow: 0 15px 40px 0 rgba(60, 114, 255, 0.2);
        }
    }
}








.radio_common {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        label {
            color: $black;
            font-size: 20px;
            margin-bottom: 12px;
            cursor: pointer;
            font-weight: 400;
        }

        input[type="radio"] {
            display: none;

            + {
                label {
                    span {
                        &::before {
                            background: #2079ff;
                            border-radius: 100%;
                            content: "";
                            position: absolute;
                            -webkit-transform: scale(0);
                            -moz-transform: scale(0);
                            -ms-transform: scale(0);
                            -o-transform: scale(0);
                            transform: scale(0);
                            -webkit-transition: 0.2s;
                            -moz-transition: 0.2s;
                            -ms-transition: 0.2s;
                            -o-transition: 0.2s;
                            transition: 0.2s;
                        }
                    }
                }
            }

            &:checked + label {
                span {
                    border-color: #2079ff;
                    -webkit-transition: background-color 0.2s linear;
                    -o-transition: background-color 0.2s linear;
                    -moz-transition: background-color 0.2s linear;
                    transition: background-color 0.2s linear;

                    &:before {
                        -webkit-transform: scale(1);
                        -moz-transform: scale(1);
                        -ms-transform: scale(1);
                        -o-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }
        }

        input[type="radio"] + label {
            span {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: -1px 15px 0 0;
                vertical-align: middle;
                cursor: pointer;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 1px solid #6f6f76;
                position: relative;
                -webkit-transition: background-color 0.2s linear;
                -o-transition: background-color 0.2s linear;
                -moz-transition: background-color 0.2s linear;
                transition: background-color 0.2s linear;
            }
        }
    }
}

.radio_common.square {
    li {
        input[type="radio"] {
            + {
                label {
                    span {
                        border-radius: 3px;

                        &::before {
                            border-radius: 0px;
                        }
                    }
                }
            }
        }
    }
}

.radio_common.radio_style1 {
    li {
        input[type="radio"] {
            + {
                label {
                    span {
                        &::before {
                            height: 20px;
                            left: -1px;
                            top: -1px;
                            width: 20px;
                        }

                        &::after {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            content: '';
                            height: 8px;
                            width: 8px;
                            border-radius: 50px;
                            background: $white;
                        }
                    }
                }
            }
        }
    }
}
